
<div class="container" style="width: 400px;">
    <input type="text" [(ngModel)]="cityName" (change)="displayEnteredValue()" class="mt-5 form-control text-center" placeholder="enter the name of the city">
    <sa-spinner-infinity [enabled]="booleanValue" color="white" size=50></sa-spinner-infinity>
</div>